@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
.marquee-on-hover {
  display: inline-block;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 120px; 
  transition: max-width 0.3s ease-in-out; 
}

.marquee-on-hover:hover {
  max-width: 140;
  animation: marquee 5s linear infinite; 
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
} */

.custom-scrollbar::-webkit-scrollbar {
  height: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #3e3e3e;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #676767;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
